.container {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 50%;
  overflow-y: scroll;
}

.choice {
  ol li {
    cursor: pointer;
    &.correct.answer {
      color: blue;
    }

    &.incorrect.answer {
      color: red;
    }
    &.incorrect.not-answer {
      &.selected {
        color: orange;
      }
    }
  }
}